.leaflet-control-weather {
  color:#fff;
  font-weight: bold;
  background:#666;
  padding:7px;
  opacity:0.8;
  font-size:0.9em;
  width:200px;
  height: 100px;
}

.leaflet-control-weather .weatherIcon {
  float:left;
  border:3px solid #fff;
  font-size:2.5em;
  width:60px;
  height:60px;
  text-align:center;
  margin-right:10px
}

.leaflet-control-weather .weatherIcon img {
  max-width: 100% !important;
}

.leaflet-control-weather h4 {
  font-size:1.5em
}

body {
  margin: 0px;
}

#heading {
  text-align: center;
  padding: 20px;
  background: #333;
  color: #CCC;
}

a {
  color: #3388ff;
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #333;
}

.leaflet-canvas-layer {
  opacity: 0.55;
}
